html,
body,
#app {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, sans-serif;
  background: $bg-page;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// 侧边导航样式修改
.van-sidebar-item {
  padding: 14px 12px;
  &::before {
    width: 3px;
  }
}
