@font-face {
  font-family: 'KaiTi';
  src: url('~@assets/fonts/Kaiti.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'simsun';
  src: url('~@assets/fonts/simsun.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heiti';
  src: url('~@assets/fonts/heiti.ttf');
  font-weight: normal;
  font-style: normal;
}
