// 主题色
$color-red2: rgba(238, 67, 76, 0.5);
$color-red: #ee0a24;
$color-purple: #ff33a9;
$color-orange: #ff8833;
$color-blue: #3377ff;

// 文字色
$color-black: #000;
$color-dark: #333;
$color-deep: #555;
$color-pl: #999;
$color-weak: #b3b3b3;
$color-white: #fff;

// 背景色
$bg-bar: #f9f9f9;
$bg-page: #f5f5f5;
$bg-page-light: #f9f9f9;

// flex垂直居中
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 背景图片
@mixin background-image($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
}
